<div class="jumbotron text-center" ng-app=".">
    <h1>Theatre Checking</h1>

    <p>{{ tagline }}</p>

    <div>
        <center>
            <table class="table">
                <thead>
                    <tr>
                        <th>Theatre</th>
                        <th>cityName</th>
                        <th>movieName</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>


                        <td><input ng-model="theatre.theatreName" /></td>
                        <td><select ng-model="theatre.city">
                            <option ng-repeat ="city in cityList" ng-value="city.cityName">{{city.cityName}}</option>
                        </select></td>

                         <td><select ng-model="theatre.movi">
                            <option ng-repeat ="movi in moviList" ng-value="movi.moviTitle">{{movi.moviTitle}}</option>
                            </select></td>

                        <td><button ng-click="addTheatre(theatre)" class="btn btn-primary">Add </button></td>

                        <td><button ng-click="updateTheatre(theatre)" class="btn btn-primary">Update</button></td>

                    </tr>
                    <tr ng-repeat=" theatre in theatreList">
                        <td>{{theatre.theatreName}}</td>
                        <td>{{city.cityName}}</td>
                        <td>{{movi.moviTitle}}</td>
                        <td><button ng-click="removeTheatre(theatre)" class="btn btn-danger">Remove</button></td>
                        <td><button ng-click="editTheatre(theatre)" class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
